$logo_margin:5px;

.thumbnail
{
	width: calc(100% - 5px);
}

.FooterMenu
{
	margin:0px;
}

.archive_single_post
{
  display:inline-block;
	width:calc(100% - 5px);
}

.HeaderMenu
{
	display:none;
}
.HeaderMenuPhone
{
	display:inline-block;
	font-size:15px;
}

.MainMenu li
{
	display:inline-block;
	width:100%;
}
.MainMenu a:link
{
	display:block;

	text-align:center;
}

.FooterMenu li
{
	display:block;
	width:100%;
}


ul.Tag li
{
	display:none;
	margin-top:5px;
	margin-right:5px;
}

ul.Tag li a
{
	text-align:center;
}
ul li.TagLable
{
	display:block;
	width:100%;
	text-align:center;
}

.searchform
{
	width:100%;
}
.searchform input,
.searchform select,
.searchform ul,
.searchform ul li,
.searchform ul li a,
#aw_post_header li,
#aw_post_header li a
{
	display:none;
	width:100%;
	text-align:center;
	clear:both;
	margin:0px;
}

.taxonomy_list
{
	display:none;
}

div.widget h3
{
	display:block;
	width:100%;
	text-align:center;
}
.tagcloud a
{
	display:block;
	width:100%;
}

.FooterMenu li,
ul.MainMenu li,
.Tags li,
.Button
{
		display:block;
    border-style: none;
    border-width: none;
    border-radius: none;
		text-decoration:none;
		padding:0px;
		margin:0px;
		cursor:pointer;
}

html
{
	body
	{
		header
		{
			.header_nav
			{
				display:none;
			}
			.custom-logo
			{
				width:calc(100% - (#{$logo_margin} * 2));
				height:auto;
				margin:$logo_margin;

			}
			#aw_site_logo
			{
				display:block;
				margin:0px;
				width:100%;
			}
			#aw_primary_header
			{
				text-align:center;
			}
			#aw_header_text
			{
				display:block;
			}
			#aw_header_subtext
			{
				text-aligh:center;
				display:block;
			}
		}
		#row_2
		{
			#row_2_column_1
			{
				main
				{
				}
				main#single .Thumbnail
				{
					width:calc(100% - 100px);
				}
				div.related_posts
				{
					width:calc((100%) - 5px);
				}
				main#single_photoalbum .Thumbnail
				{
					width:calc((100%) - 10px);
				}
				div.Related
				{
					width:100%;
				}
				#taxonomies
				{
					display:none;
				}
			}
			#row_2_column_2
			{
			}
		}
	}
}
