div.gallery
{
	width:100%;
	padding:0px;
}
div.gallery .gallery-item
{
  display:block;
	width:100%;
  float:left;
}
div.galler br
{
  float:left;
}
div.gallery .gallery-item img
{
  float:left;
}
div.gallery .gallery-item img
{
	width:100%;
	margin:0px;
	float:left;
}
div.gallery .gallery-item img:hover
{
	transform:0%;
	padding:0px;
	margin:0px;
}
div.gallery
{
	float:left;
}
.gallery-columns-3
{

}

.gallery-columns-2
{

}
.gallery-columns-1
{

}

#single-body
{
  width:100%;
  margin:0px;
  padding:0px;
}
#single-content
{
  width:100%;
  margin:0px;
  padding:0px;
}
.MainMenu li
{
	display:inline-block;
	width:100%;
}
.MainMenu a:link
{
	display:block;

	text-align:center;
}

.FooterMenu li
{
	display:block;
	width:100%;
}
