$colors:(
	primary:red,
	accent:white,
	accent-2:black,
	accent-3:grey,
	video-outline:#58FA58,
	photoalbum-outline:blue,
	photo-outline:yellow,
	thumbnail-outline:red
);

@function color($color-name)
{
		@return map-get($colors, $color-name);
}

h1
{
	color:color(accent);
}

h2
{
  color:color(accent);
}
.TagColor a
{
  color:color(accent);
	border-color: color(primary);
	background-color:transparent;
}
.TagColor a:hover
{
	color:color(primary);
}

.BodyColor
{
    background-color: color(accent-2);
    color: color(primary);
}

.ButtonColor
{
	color:color(accent);
	border-color:color(primary);
	background-color: color(accent-2);
}
.ButtonColor a
{
	color: inherit;
}
.ButtonColor:hover
{
	color:color(primary);
	border-color:color(primary);
	background-color:color(accent-3);
}

.FooterMenuColor li,
.MainMenuColor li
{
	border-color:color(primary);
}

.FooterMenuColor a:hover,
.MainMenuColor a:hover
{
	color:color(primary);
}

.FooterMenuColor a,
.MainMenuColor a
{
    color: color(accent);
}


.SidebarColor
{
	background-color: color(accent);
}

.SidebarColor a
{
    color: color(accent-2);
}
.SidebarColor a:hover
{
    color: color(primary);
}

.current-menu-item
{
	background-color:color(primary);
}

.current-menu-item:hover > a:hover
{
	color: color(accent-2);
}


.Mobile:hover
{
	outline-color:color(accent);
}

.Mobile
{
	outline-color:transparent;
}

.photoalbum:hover
{
	outline-color:color(photoalbum-outline);
}

.photoalbum
{
	outline-color:transparent;
}

.video:hover
{
	outline-color:color(video-outline);
}

.video
{
	outline-color:transparent;
}

.photo:hover
{
	outline-color:color(photo-outline);
}

.photo
{
	outline-color:transparent;
}

.HeaderColor
{
	background-color: color(accent-2);
}

.PrimaryTitleColor
{

}

.PrimaryTitleColor
{
	text-shadow: inherit inherit green;
}

header
{
	border-color:color(accent);
}

.post_navigation_menu li a,
.post_navigation_menu li a:hover,
.post_navigation_menu li.active a,
.post_navigation_menu li.disabled
{

	color: color(accent-2);
}

.post_navigation_menu li a,
.post_navigation_menu li a:hover,
.post_navigation_menu li.active a,
.post_navigation_menu li.disabled
{

	background-color:color(accent);
}

.post_navigation_menu li a:hover,
.post_navigation_menu li.active a
{
    background-color: color(primary);
}

.thumbnail:hover
{
	outline-color:color(thumbnail-outline);
}
